html {
    font-size: 62.5%;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 1rem;
}
section {
    background-color: #BBDDEE;
    margin-block-end: 1rem;
    padding: 0rem;
}

strong {
    font-weight: bold;
    color: #black;
}

.iso {
    float: left;
    font-size: 500%;
    width: 5rem;
    text-align: center;
    padding: 0.2rem;
    background-color: #568;
    color: white;
    border: solid white 1px;
    border-width: 0 1rem 1rem 0;
    margin: 0 1rem 1rem 0;
}

.glass {
    float: left;
    font-size: 500%;
    width: 5rem;
    text-align: center;
    padding: 0.2rem;
    background-color: #568;
    color: white;
    border: none;
    margin: 0 1rem 1rem 0;
}

.glass img {
    max-width: 100%;
}

.reunaviiva {
    border: black solid 1px;
}

hr {
    border: none; /* Убираем границу */
    background-color: #88AABB;; /* Цвет линии */
    color: #688594; /* Цвет линии для IE6-7 */
    height: 10px; /* Толщина линии */
   }

h1, h2, h3, p, pre, ul {
    margin-block-end: 1rem;
}
h1 {
    font-size: 1rem;
}
h2 {
    font-size: 1.6rem;
    text-align: right;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #88AABB;
    height: 20px; 
}
h3 {
    font-size: 1rem;
}  
p {
    font-size: 1rem;
}   
pre {
    font-size: 1rem;
}   
ul {
    font-size: 1rem;
    list-style-type: disc;
    list-style-position: inside;
}
.leftbox {
    float: left;
    width: 35%;
    height: 30px;
    text-align: left;
    background: white;
    color: black;
    border: solid black 1px;
    border-width: 1 px 1px 1px 0;
    padding: 10px 10px 10px 10px;
    margin: -1px 25px 10px -1px;
}
.rightbox {
    float: right; 
    width: 25%; 
    text-align: left; 
    font-size: 140%; 
    font-weight: bold; 
    font-style: italic; 
    padding: 1em; 
    text-indent: -0.5em; 
    background: white; 
    color: black; 
    border: solid black 1px;
    border-width: 1px 0 1px 1px; 
    margin: 0.2em -1px 0.2em 0.5em;

}