:root {
  --background-color: cornsilk;
  --primary-color: skyblue;
  --secondary-color: sandybrown;
}

body {
  background: var(--background-color);
  font-family: "Spartan", sans-serif;
  margin: 3rem;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  /* Use the animation defined below here */
}

@keyframes gradient {
  /* Define an animation where the background moves (background-position)
  in order to show a different part of the gradient. */
}

.first-task {
  background: var(--secondary-color);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  /* Add transition here */
}

.first-task:hover {
  /* Change background color and make circle bigger here */
  animation-name: first-task;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes first-task {
  0% {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: purple;
  }
  50% {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background-color: lightgreen;
  }
  100% {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: purple;
  }
}

.second-task {
  background: var(--secondary-color);
  height: 100px;
  width: 100px;
  /* Add transition here */
}

.second-task:hover {
  /* Add rotation and change color here */
  animation-name: second-task;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes second-task {
  0% {
    background-color: pink;
    transform: rotate(0deg);
  }
  100% {
    background-color: red;
    transform: rotate(360deg);
  }
}

.third-task {
  background: var(--secondary-color);
  height: 120px;
  width: 120px;
  padding: 1rem;
  /* Add transition here */
}
.third-task:hover {
  /* Make rectangle smaller */
  animation-name: third-task;
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.third-task p {
  opacity: 0;
  /* Add transition here */
}

.third-task:hover p {
  /* Make text visible by changing opacity */
  opacity: 100%;
}

@keyframes third-task {
  0% {
    height: 120px;
    width: 120px;
    padding: 1rem;
  }
  50% {
    height: 70px;
    width: 70px;
    padding: 1rem;
  }
  100% {
    height: 120px;
    width: 120px;
    padding: 1rem;
  }
}

/* Fifth task is super tricky. Basically, you want to manipulate the positions
of additional elements, so they become visible and form the borders.
(Just add the transition commands and you'll see it come to life.) */
.fifth-task {
  display: inline-block;
  height: 200px;
  width: 200px;
  position: relative;
  background: goldenrod;
}

.fifth-task h3 {
  padding: 25px;
}
/* LEFT SIDE */

.fifth-task h3::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 200px;
  border-left: 3px solid #fc5185;
  /* Add transition here */
}
.fifth-task:hover h3::before {
  bottom: 0;
}

/* RIGHT SIDE */

.fifth-task h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  border-right: 3px solid #fc5185;
  /* Add transition here */
}
.fifth-task:hover h3::after {
  top: 0;
}

/* TOP SIDE */
.fifth-task::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 200px;
  bottom: 0;
  border-top: 3px solid #fc5185;
  /* Add transition here */
}
.fifth-task:hover::before {
  right: 0;
}

/* BOTTOM SIDE */
.fifth-task::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 200px;
  right: 0;
  bottom: 0;
  border-bottom: 3px solid #fc5185;
  /* Add transition here */
}
.fifth-task:hover::after {
  left: 0;
}

.animated-circle {
  background: var(--primary-color);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: grid;
  justify-items: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0 5px #333;

  /* Add animation here */
}

.animated-circle:hover {
  animation-play-state: paused; /* This pauses the animation */
}

/* Define animation. Make sure start and end are the same. */
@keyframes example {
  0% {
  }
  25% {
  }
  50% {
  }
  75% {
  }
  100% {
  }
}
